<div class="site-header">
<div class="site-header" style="width: 100%; background-color: var(--bg-color); padding: 1rem 8rem; display: flex; justify-content: space-between; align-items: center; box-sizing: border-box;">
    <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}<b class="command_prompt"></b><b class="blinking_cursor">_</b></a>

    <!-- Nav Links -->
    <ul class="nav-links" style="display: flex; list-style: none; margin: 0; padding: 0; gap: 1rem;">
      <li><a href="{{ '/about/' | relative_url }}">About Me</a></li>
      <li><a href="{{ '/projects/' | relative_url }}">Projects</a></li>
      <li><a href="{{ '/blog/' | relative_url }}">Blog</a></li>
      <li><a href="{{ '/resume/' | relative_url }}">Resume</a></li>
      <li><a href="{{ '/contact/' | relative_url }}">Contact</a></li>
    </ul>

  </div>
</div>
